/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}
/* Shared Styles */

/* Button Styles */

.download-btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    cursor: pointer;
}
.hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    align-items: center;
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 30px 0;
}
/* Header Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

nav .nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
/* Hero Section Styles */
.hero-container{
    min-width: 1440px;
    height: 652px;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
}
.hero-content{
    max-width: 998px;
    height: 582px;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 30px 0px;
}
.hero-content-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
/* Nav Styles */

/* Hero Styles */

/* Main Styles */

/* Development Section Style */

/* Inspiration Section Style */

/* Current Target Section Style */

/* Next Target Section Style */

/* Support Section Style */

/* Footer Styles */