/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* Shared Styles */
.section-head{
    padding: 0 47px;
    margin-bottom: 48px;
}
.section-head-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.section-head-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.skill-bg1{
    background-color: rgba(255, 76, 30, 0.05);
}
.skill-bg2{
    background-color: rgba(0, 76, 232, 0.05);
}
.skill-bg3{
    background-color: rgba(255, 223, 0, 0.05);
}

/* Button Styles */

.download-btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    cursor: pointer;
}
.hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    align-items: center;
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 30px 0;
}
.support-submit-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border: none;
}
/* Header Styles Start From Here*/
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

nav .nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
/* Hero Section Styles */
.hero-container{
    width: 100%;
    height: 652px;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-content{
    width: 998px;
    height: 582px;
    margin: 35px 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 30px 0px;
}
.hero-content-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/* Main Styles Start From Here*/
main{
    margin: 74px auto;
}
main section{
    margin: 130px 150px;
}
/* Development Section Style */
.development-section{
    margin: 50px 150px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.development-section-card{
    margin: 30px 0px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.card-content{
    display: flex;
    gap: 99px;
    justify-content: space-between;
    padding: 48px;
}
.card-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.card-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.learn-more-btn{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
}
/* Inspiration Section Style */
.ispiration-section{
    margin: 50px 150px;
}
.ispiration-section-content {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    background-color: #fff;
    margin-bottom: 20px;
}

.ispiration-section-iframe-container {
    height: 550px;
    overflow: hidden;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.ispiration-section-iframe-container iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: none;
    border-radius: 16px;
}
/* Current Target Section Style */
.current-target-section{
    margin: 50px 150px;
    border-radius: 16px;
}
.current-target-skills{
    display: flex;
    gap: 24px;
}
.current-skill{
    padding: 40px;
    border-radius: 16px;
}

.current-skill-logo{

}
.current-skill-title{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin: 24px 0;

}
.current-skill-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.skill-learn-more{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* Next Target Section Style */
.next-target-section{
    margin: 50px 150px;
}
.next-skill{
    display: flex;
    gap: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 24px;
}
.next-skill-content h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 8px;
}
.next-skill-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}
.next-skill-content a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    
}
/* Support Section Style */
.support-section{
    margin: 50px 150px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/handshake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.support-section-content{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 64px 48px;
}
.support-section-head{
    text-align: center;
    margin-bottom: 24px;
}
.support-section-head-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.support-section-head-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.support-section-foot{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.support-section-foot input{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    font-size: 16px;
    width: 548px;
}
.support-section-foot input:focus{
    outline: none;
}

/* Footer Styles */
footer{
    width: 100%;
    height: 100px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    background: rgba(13, 19, 33, 0.03);
}
.copyright{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}
.social-icon{
    display: flex;
    gap: 24px;
}